
<app-spinner> </app-spinner>
<app-sidebar> </app-sidebar>
<div class="container-detalle">
    <span  style="margin-top: 20px;" class="input-group-text"><i style="margin-right: 15px;" class="fa fa-table"></i> Cuadro Detalle</span><br>
    <div  class="form-group row">
        <span for="search" class="input-group-text" style="text-align: center;width: 7%; margin-left: 1%;">Buscar</span>
        <input style="width: 10%" type="text" [(ngModel)]="searchValue" class="form-control" placeholder="N° Cluster" id="search" />
        <button type="button" style="width: 10%; margin-left: 71%;"  class="btn btn-danger" (click)="salir()">Volver</button>
    </div><br>
    <div class="tabla-detalle">
        <table id="dtBasicExample" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Cluster</th>
                    <th *ngFor="let col of displayedColumns" scope="col" style="text-align: center;">
                        {{col}}
                    </th>
                </tr>
            </thead>
            <tbody *ngIf="instances">
                <tr *ngFor="let instance of dataSource | searchfilter:searchValue | paginate: { itemsPerPage:20, currentPage: p };let i=index;">
                    <td>{{ instance.indice+1 }}</td>
                    <td>{{ instance.cluster }}</td>
                    <td *ngFor="let attr of instance.atributos">
                        {{ attr }}
                    </td>
                </tr>
            </tbody>
        </table>
    </div><br>
    <pagination-controls style="float: right;" (pageChange)="p=$event" previousLabel="Anterior"
    nextLabel="Siguiente"></pagination-controls>
</div>

