<app-spinner> </app-spinner>
<ngx-spinner>
        <div class="message">
            <h3>Cargando...</h3>
        </div>
</ngx-spinner>
<section class="home-section">
    <app-sidebar> </app-sidebar>
    <div class="container-left">
        <div class="consulta">
            <span class="input-group-text"><i style="margin-right: 10px" class="far fa-edit"></i> Consulta
            </span><br>
            <form [formGroup]="peticionForm" (ngSubmit)="mostrar(peticionForm.value)">
                <div style="height: 40px;" class="input-group mb-3">
                    <label class="input-group-text" for="exampleFormControlInput1">Query</label>
                    <textarea style="text-align: center;" (keyup)="autoGrowTextZone($event)" class="form-control"
                        placeholder="Ingresar Query" formControlName="query"></textarea>
                </div><br>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="exampleFormControlInput1">Criterio de
                            Vinculación</label>
                        <select class="form-select" id="inputGroupSelect01" formControlName="link">
                            <option disabled selected>Selecciona una opción</option>
                            <option value="single">SINGLE</option>
                            <option value="complete">COMPLETE</option>
                            <option value="centroid">CENTROID</option>
                            <option value="average">AVERAGE</option>
                            <option value="mean">MEAN</option>
                            <option value="ward">WARD</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group mb-3">
                        <label class="input-group-text" for="exampleFormControlInput1">Número de Clusters</label>
                        <input style="text-align: center;" type="number" min="1" oninput="validity.valid||(value='');"
                            class="form-control" placeholder="Ingresar número" formControlName="clusters">
                    </div>
                </div>
                <button type="submit" class="btn btn-success">Mostrar <i class="fas fa-paper-plane"></i></button>
                <button style="margin-left: 10px" type="button" class="btn btn-primary"
                    (click)="verDetalle(peticionForm.value)">Ver Detalle
                    <i class="far fa-file-alt"></i></button>
                <button style="margin-left: 10px" type="button" class="btn btn-danger" (click)="Limpiar()">Limpiar
                    <i class="fa fa-trash"></i></button>

            </form><br>
            <span *ngIf="imagen" class="input-group-text"><i style="margin-right: 10px" class="fa fa-table"></i>
                Cuadro Resumen</span>
        </div>
        <div *ngIf="imagen" class="tabla-resumen">
            <table class="table table-striped table-bordered" width="100%">
                <thead style="background-color: cornflowerblue;color:aliceblue">
                    <tr>
                        <th>#</th>
                        <th (click)="sort('indice')">Cluster&nbsp;<i class="fa fa-sort"></i></th>
                        <th (click)="sort('tamanio')">Cantidad&nbsp;<i class="fa fa-sort"></i></th>
                        <th (click)="sort('tamanio')">Porcentaje&nbsp;<i class="fa fa-sort"></i></th>
                    </tr>
                </thead>
                <tbody *ngIf="hierClus">
                    <tr *ngFor="let cluster of hierClus.clusters | orderBy: key: reverse; let i = index">
                        <th style="text-align: center;" scope="row">{{ i + 1 }}</th>
                        <td style="text-align: center;">{{ cluster.indice }}</td>
                        <td style="text-align: center;">{{ cluster.tamanio }}</td>
                        <td style="text-align: center;">{{ cluster.porcentaje }}%</td>
                    </tr>
                </tbody>
                <tbody *ngIf="!hierClus">
                    <tr>
                        <th style="text-align: center;" scope="row"></th>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                        <td style="text-align: center;"></td>
                    </tr>
                </tbody>
                <!--                 <tfoot class="table-foot" *ngIf="hierClus" style="background-color:slategray">
                    <tr>
                        <th style="text-align: center;color: #fff;" scope="row">Total</th>
                        <th style="text-align: center;color: #fff"><b>{{ hierClus.n_clusters }}</b></th>
                        <th style="text-align: center;color: #fff" scope="row"><b>{{ hierClus.n_instancias }}</b></th>
                        <th style="text-align: center;color: #fff" scope="row"><b>100%</b></th>
                    </tr>
                </tfoot> -->
            </table>
        </div>
    </div>
    <div *ngIf="imagen" class="container-right">
        <div class="graficos">
            <span class="input-group-text"><i style="margin-right: 10px" class="far fa-edit"></i> Dendograma
            </span><br>
            <div class="recuadro-img">
                <img *ngIf="imagen" [src]=" imagen " alt="" height="500px" width="100%">
            </div>
        </div>
    </div>
</section>