<app-header></app-header>

<div class="container">
    <div class="resumen">
    <h3>Cuadro Resumen</h3><br>
    <form [formGroup]="peticionForm" (ngSubmit)="mostrar(peticionForm.value)">
        <div class="form-group">
                <label for="exampleFormControlInput1">Criterio de Vinculación</label>
                <select class="form-select" id="inputGroupSelect01" formControlName="link">
                    <option disabled selected>Selecciona una opción</option>
                    <option value="single">single</option>
                    <option value="complete">complete</option>
                    <option value="centroid">centroid</option>
                    <option value="average">average</option>
                    <option value="mean">mean</option>
                    <option value="ward">ward</option>
                </select>
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">N° Clusters</label>
            <input type="number" min="1" class="form-control" placeholder="número" formControlName="clusters">
    </div><br>
        <button type="submit" class="btn btn-success">Mostrar</button>
    </form><br>
    <button type="button" class="btn btn-primary" (click)="verDetalle()">Ver Detalle</button>

    <table class="table table-striped">
        <thead>
        <tr>
            <th style="text-align: center;" scope="col">Índice</th>
            <th style="text-align: center;" scope="col">Cluster</th>
            <th style="text-align: center;" scope="col">Cantidad</th>
            <th style="text-align: center;" scope="col">Porcentaje</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let cluster of hierClus.clusters; let i = index">
            <th style="text-align: center;" scope="row">{{ i + 1 }}</th>
            <td style="text-align: center;">{{ cluster.indice }}</td>
            <td style="text-align: center;">{{ cluster.tamanio }}</td>
            <td style="text-align: center;">{{ cluster.porcentaje }}%</td>
        </tr>
        </tbody>
    </table>
    </div>
    <div class="graficos">
        <p style="text-align: center;">Dendograma</p>
    </div>
</div>

<app-footer></app-footer>